/***************************************************************************
    project.......: icb-ws
    description...: HTML5 front-end for ICB
    begin.........: 12/2019
    copyright.....: Sebastian Fedrau
    email.........: sebastian.fedrau@gmail.com
 ***************************************************************************/

/***************************************************************************
    Permission is hereby granted, free of charge, to any person obtaining
    a copy of this software and associated documentation files (the
    "Software"), to deal in the Software without restriction, including
    without limitation the rights to use, copy, modify, merge, publish,
    distribute, sublicense, and/or sell copies of the Software, and to
    permit persons to whom the Software is furnished to do so, subject to
    the following conditions:

    The above copyright notice and this permission notice shall be
    included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
    IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
    OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
    ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
    OTHER DEALINGS IN THE SOFTWARE.
 ***************************************************************************/
html, body
{
	font-family:Arial, Helvetica, sans-serif;
	height:100%;
	background-color:white;
	padding:0;
	margin:0;
}

div.page
{
	display:flex;
	flex-flow:column;
	height:100%;
}

div.screen-login
{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:50% 50%;
	background-image:url('bg-login.jpg');
	background-repeat:repeat;
}


div.login
{
	display:flex;
	align-items:center;
	justify-content: center;
	position:fixed;
	width:100%;
	height:100%;
}

div.login-form
{
	background-color:white;
	padding:15px;
	border-radius:5px;
}

.login
{
	font-size:large;
}

div.header
{
	display:flex;
	flex-shrink:0;
	align-items:center;
	overflow:hidden;
	background-color:#2C3E50;
	background-image: linear-gradient(to bottom, #2C3E50, #1a252f);
	color:white;
	height:50px;
	padding-left:7px;
}

div.screen-connecting
{
	display:flex;
	align-items:center;
	justify-content:center;
	position:fixed;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.3;
	color:white;
}

div.hidden
{
	display:none;
}

div.channels
{
	width:100%;
	border-bottom:1px solid #c2c2c2;
}

ul.channels
{
	list-style-type:none;
	display:table-row;
}

li.channel
{
	display:table-cell;
	height:2em;
	line-height:2em;
	vertical-align:middle;
	padding:5px;
	border-right:1px solid #798d8f;
	background-color:white;
	color:black;
}

li.channel:hover
{
	text-decoration:underline;
	cursor:pointer;
}

li.channel.selected
{
	background-color:#149a80;
	color:white;
}

li.channel.highlighted
{
	color:#e12e1c;
	font-style:italic;
	font-weight:normal;
}

i.channel.close
{
	margin-left:5px;
	color:#e12e1c;
}

div.msgout
{
	display:flex;
	flex-grow:1;
	overflow:auto;
}

div.msgs
{
	font-family:Courier, monospace;
	flex-direction:column;
	flex-grow:1;
	overflow:auto;
}

table.msgs
{
	padding:5px;
	overflow:hidden;
}

td.msg
{
	vertical-align:top;
	line-height:1em;
	font-size:16px;
	white-space:pre-wrap;
}

td.msg.timestamp
{
	color:#1e2b37;
}

td.msg.from
{
	color:#2384c6;
	text-align:right;
}

td.msg.from.status
{
	color:#128f76;
}

td.msg.from.error
{
	color:#d62c1a
}

td.msg.open
{
	color:#1e2b37;
}

td.msg.status
{
	color:#149a80;
}

td.msg.wall
{
	color:#149a80;
	font-weight:bold;
}

td.msg.error
{
	color:#e12e1c;
}

td.msg.output
{
	color:#393939
}

span.emoji
{
	display:inline-block;
	width:14px;
	height:14px;
	background-size:14px 14px;
	vertical-align:top;
}

div.users
{
	min-width:200px;
	padding-right:7px;
	overflow:auto;
}

div.users.disabled
{
	opacity:0.5;
}

ul.users
{
	list-style:none;
}

li.user
{
	font-size:16px;
	padding-left:0;
	line-height:1.5em;
}

li.user:before
{
	content: "\f2c0";
	font-family:FontAwesome;
	display:inline-block;
	margin-left:-1.3em;
	width:1.3em;
}

div.bottom
{
	display:flex;
	flex-shrink:0;
	align-items:center;
	margin:1px;
}

input.bottom.status { }

input.bottom.input
{
	font-family:Courier, monospace;
	flex-grow:1;
	overflow:auto;
	border:1px solid #3498DB;
	line-height:1em;
}

a.reconnect
{
	padding:2px;
}

span.nick
{
	padding-left:2px;
	padding-right:5px;
}

@media only screen and (max-device-width:800px)
{
	div.users
	{
		display:none;
	}

	td.msg.timestamp
	{
		display:none;
	}

	div.msgs
	{
		overflow:auto;
	}
}
